.dataTables_length{
    color: #686868;
}

pre#pads_js_analytics{
    width:100%;
    height:200px;
}

#content .melis-cms-google-analytics-guidelines{
    line-height: 1.5em;
    word-wrap: break-word;
    margin-top: 20px;
    margin-bottom: 50px;
}